In [1]:
%matplotlib inline

import pyscisci.all as pyscisci

import pandas as pd
import numpy as np
import matplotlib.pylab as plt

# to make pretty plots
try:
    import seaborn as sns
    sns.set_style('white')
except:
    pass

In [2]:
# Derek J. de Solla Price
focus_aid = 2537508914

path2mag = '/home/ajgates/MAG'
path2mag = '/Volumes/GatesExpansionDrive/DataSets/MAG'
mymag = pyscisci.MAG(path2mag, keep_in_memory=False, show_progress=True)

In [4]:
author_career = mymag.load_publicationauthoraffiliation(columns=['PublicationId', 'AuthorId', 'AffiliationId'],
                                                        filter_dict = {'AuthorId':np.sort([focus_aid])},
                                                      duplicate_subset=['PublicationId', 'AuthorId', 'AffiliationId'])

HBox(children=(HTML(value='Loading Publication Author Affiliation'), FloatProgress(value=0.0, max=63.0), HTML(â€¦

In [11]:
authorpubs = np.sort(author_career['PublicationId'].unique())

author_pub = mymag.load_publications(columns=['PublicationId', 'Year', 'Date', 'JournalId'],
                                                        filter_dict = {'PublicationId':authorpubs})


author_career = author_career[['PublicationId', 'AuthorId', 'AffiliationId']].merge(author_pub, how='left', on='PublicationId')
author_career

HBox(children=(HTML(value='Loading Publications'), FloatProgress(value=0.0, max=47.0), HTML(value='')))

    PublicationId    AuthorId  AffiliationId    Year        Date     JournalId
0      1967706085  2537508914     32971472.0  1993.0  1993-04-01  9.731383e+06
1      1972538590  2537508914       241749.0  1952.0  1952-03-28  7.023698e+07
2      1978291570  2537508914     32971472.0  1964.0  1964-09-01  1.520098e+08
3      1990886940  2537508914     32971472.0  1978.0  1978-07-01  8.011330e+07
4      2004890562  2537508914     32971472.0  1981.0  1981-01-01  1.485614e+08
5      2012653051  2537508914     32971472.0  1981.0  1981-08-01  4.724624e+07
6      2013687468  2537508914     32971472.0  1978.0  1978-07-01  4.440446e+07
7      2018998940  2537508914     32971472.0  1976.0  1976-12-01  1.195147e+08
8      2019020697  2537508914     32971472.0  1966.0  1966-11-01  8.014660e+07
9      2024818691  2537508914     32971472.0  1978.0  1978-12-01  4.268636e+07
10     2028506901  2537508914     32971472.0  1965.0  1965-04-17  1.377736e+08
11     2035832708  2537508914     32971472.0  1971.0  1971-06-01  8.802318e+06
12     2044361090  2537508914     32971472.0  1981.0  1981-01-01  1.485614e+08
13     2053878724  2537508914     32971472.0  1980.0  1980-10-01  1.485614e+08
14     2074130999  2537508914     32971472.0  1980.0  1980-01-01           NaN
15     2075510068  2537508914       241749.0  1956.0  1956-03-31  1.377736e+08
16     2080450835  2537508914     32971472.0  1976.0  1976-09-01  8.011330e+07
17     2116588675  2537508914     32971472.0  1975.0  1975-09-01  8.802318e+06
18     2118007443  2537508914     32971472.0  1981.0  1981-09-01  1.485614e+08
19     2119822514  2537508914     32971472.0  1984.0  1984-01-01  5.969743e+07
20     2588497460  2537508914     32971472.0  1978.0  1978-06-01  2.735378e+09

In [6]:
author_career.sort_values('Year')

         PublicationId    AuthorId  AffiliationId  Year
4317041     1972538590  2537508914       241749.0  1952
105059      2075510068  2537508914       241749.0  1956
9130548     1978291570  2537508914     32971472.0  1964
1107413     2028506901  2537508914     32971472.0  1965
3210020     2019020697  2537508914     32971472.0  1966
7190754     2035832708  2537508914     32971472.0  1971
7969926     2116588675  2537508914     32971472.0  1975
4198113     2080450835  2537508914     32971472.0  1976
3192045     2018998940  2537508914     32971472.0  1976
7896131     2588497460  2537508914     32971472.0  1978
8755785     2013687468  2537508914     32971472.0  1978
9689262     1990886940  2537508914     32971472.0  1978
8034527     2024818691  2537508914     32971472.0  1978
2197563     2053878724  2537508914     32971472.0  1980
8958077     2074130999  2537508914     32971472.0  1980
4279736     2044361090  2537508914     32971472.0  1981
7885357     2012653051  2537508914     32971472.0  1981
1412992     2004890562  2537508914     32971472.0  1981
8725162     2118007443  2537508914     32971472.0  1981
9675715     2119822514  2537508914     32971472.0  1984
257565      1967706085  2537508914     32971472.0  1993

In [7]:
authorpubs = np.sort(author_career['PublicationId'].unique())

author_impact = mymag.load_impact(filter_dict = {'PublicationId':authorpubs})

author_impact

HBox(children=(HTML(value='Loading Impact'), FloatProgress(value=0.0, max=221.0), HTML(value='')))

,PublicationId,Ctotal,C10,C5,Year,Ctotal_noself,C10_noself,C5_noself,Ctotal_norm,C10_norm,C5_norm,Ctotal_noself_norm,C10_noself_norm,C5_noself_norm
17064410,1972538590,9,1.0,1.0,1952,9.0,1.0,1.0,0.677878,0.345254,0.641707,0.684987,0.358632,0.678803
6706110,2075510068,8,2.0,1.0,1956,7.0,1.0,0.0,0.489712,0.554164,0.515965,0.433421,0.288699,0.000000
22785113,1978291570,28,0.0,0.0,1964,28.0,0.0,0.0,1.533798,0.000000,0.000000,1.560327,0.000000,0.000000
8375027,2028506901,45,9.0,5.0,1965,45.0,9.0,5.0,2.444525,1.752293,1.739806,2.487933,1.840192,1.866695
1003030,2019020697,563,22.0,9.0,1966,563.0,22.0,9.0,30.160837,4.138906,3.006122,30.741288,4.358822,3.234889
31014698,2035832708,8,0.0,0.0,1971,8.0,0.0,0.0,0.417284,0.000000,0.000000,0.429251,0.000000,0.000000
19552928,2116588675,9,2.0,2.0,1975,9.0,2.0,2.0,0.434909,0.292621,0.524352,0.449969,0.316258,0.583812
1252557,2080450835,1197,63.0,29.0,1976,1196.0,62.0,28.0,58.782989,9.331290,7.647670,60.863480,9.954448,8.248940
25697580,2018998940,5,1.0,1.0,1976,5.0,1.0,1.0,0.245543,0.148116,0.263713,0.254446,0.160556,0.294605
2392599,2013687468,23,3.0,1.0,1978,23.0,3.0,1.0,1.211245,0.452798,0.269279,1.261392,0.493773,0.302890
51588107,1990886940,8,5.0,2.0,1978,8.0,5.0,2.0,0.421302,0.754664,0.538558,0.438745,0.822956,0.605779
55846044,2588497460,1,0.0,0.0,1978,1.0,0.0,0.0,0.052663,0.000000,0.000000,0.054843,0.000000,0.000000
84740351,2024818691,1,0.0,0.0,1978,1.0,0.0,0.0,0.052663,0.000000,0.000000,0.054843,0.000000,0.000000
15616813,2074130999,10,4.0,2.0,1980,10.0,4.0,2.0,0.508168,0.588074,0.529884,0.530326,0.644767,0.600661
50683645,2053878724,3,2.0,2.0,1980,3.0,2.0,2.0,0.152451,0.294037,0.529884,0.159098,0.322384,0.600661
351102,2044361090,79,16.0,8.0,1981,78.0,15.0,7.0,4.018580,2.295986,2.070679,4.155549,2.371996,2.067574
1502982,2004890562,35,11.0,7.0,1981,34.0,10.0,6.0,1.780383,1.578490,1.811844,1.811393,1.581331,1.772206
12059556,2118007443,11,7.0,4.0,1981,11.0,7.0,4.0,0.559549,1.004494,1.035340,0.586039,1.106931,1.181471
16598887,2119822514,18,1.0,1.0,1984,18.0,1.0,1.0,0.880226,0.134675,0.241924,0.926539,0.149348,0.277975
15016,1967706085,136,42.0,24.0,1993,136.0,42.0,24.0,5.494452,3.911924,4.394676,5.865380,4.370157,5.111810

In [14]:
author_career = author_career.merge(author_impact[['PublicationId', 'C10', 'Ctotal']], 
                                    how='left', on='PublicationId').fillna(0)
author_career

,PublicationId,AuthorId,AffiliationId,Year,Date,JournalId,C10,Ctotal
0,1967706085,2537508914,32971472.0,1993.0,1993-04-01,9.731383e+06,42.0,136.0
1,1972538590,2537508914,241749.0,1952.0,1952-03-28,7.023698e+07,1.0,9.0
2,1978291570,2537508914,32971472.0,1964.0,1964-09-01,1.520098e+08,0.0,28.0
3,1990886940,2537508914,32971472.0,1978.0,1978-07-01,8.011330e+07,5.0,8.0
4,2004890562,2537508914,32971472.0,1981.0,1981-01-01,1.485614e+08,11.0,35.0
5,2012653051,2537508914,32971472.0,1981.0,1981-08-01,4.724624e+07,0.0,0.0
6,2013687468,2537508914,32971472.0,1978.0,1978-07-01,4.440446e+07,3.0,23.0
7,2018998940,2537508914,32971472.0,1976.0,1976-12-01,1.195147e+08,1.0,5.0
8,2019020697,2537508914,32971472.0,1966.0,1966-11-01,8.014660e+07,22.0,563.0
9,2024818691,2537508914,32971472.0,1978.0,1978-12-01,4.268636e+07,0.0,1.0
10,2028506901,2537508914,32971472.0,1965.0,1965-04-17,1.377736e+08,9.0,45.0
11,2035832708,2537508914,32971472.0,1971.0,1971-06-01,8.802318e+06,0.0,8.0
12,2044361090,2537508914,32971472.0,1981.0,1981-01-01,1.485614e+08,16.0,79.0
13,2053878724,2537508914,32971472.0,1980.0,1980-10-01,1.485614e+08,2.0,3.0
14,2074130999,2537508914,32971472.0,1980.0,1980-01-01,0.000000e+00,4.0,10.0
15,2075510068,2537508914,241749.0,1956.0,1956-03-31,1.377736e+08,2.0,8.0
16,2080450835,2537508914,32971472.0,1976.0,1976-09-01,8.011330e+07,63.0,1197.0
17,2116588675,2537508914,32971472.0,1975.0,1975-09-01,8.802318e+06,2.0,9.0
18,2118007443,2537508914,32971472.0,1981.0,1981-09-01,1.485614e+08,7.0,11.0
19,2119822514,2537508914,32971472.0,1984.0,1984-01-01,5.969743e+07,1.0,18.0
20,2588497460,2537508914,32971472.0,1978.0,1978-06-01,2.735378e+09,0.0,1.0

In [15]:
ag = author_career.groupby('Year')
author_career['mc'] = ag['Ctotal'].transform(lambda x: x - x.mean())
author_career

,PublicationId,AuthorId,AffiliationId,Year,Date,JournalId,C10,Ctotal,mc
0,1967706085,2537508914,32971472.0,1993.0,1993-04-01,9.731383e+06,42.0,136.0,0.00
1,1972538590,2537508914,241749.0,1952.0,1952-03-28,7.023698e+07,1.0,9.0,0.00
2,1978291570,2537508914,32971472.0,1964.0,1964-09-01,1.520098e+08,0.0,28.0,0.00
3,1990886940,2537508914,32971472.0,1978.0,1978-07-01,8.011330e+07,5.0,8.0,-0.25
4,2004890562,2537508914,32971472.0,1981.0,1981-01-01,1.485614e+08,11.0,35.0,3.75
5,2012653051,2537508914,32971472.0,1981.0,1981-08-01,4.724624e+07,0.0,0.0,-31.25
6,2013687468,2537508914,32971472.0,1978.0,1978-07-01,4.440446e+07,3.0,23.0,14.75
7,2018998940,2537508914,32971472.0,1976.0,1976-12-01,1.195147e+08,1.0,5.0,-596.00
8,2019020697,2537508914,32971472.0,1966.0,1966-11-01,8.014660e+07,22.0,563.0,0.00
9,2024818691,2537508914,32971472.0,1978.0,1978-12-01,4.268636e+07,0.0,1.0,-7.25
10,2028506901,2537508914,32971472.0,1965.0,1965-04-17,1.377736e+08,9.0,45.0,0.00
11,2035832708,2537508914,32971472.0,1971.0,1971-06-01,8.802318e+06,0.0,8.0,0.00
12,2044361090,2537508914,32971472.0,1981.0,1981-01-01,1.485614e+08,16.0,79.0,47.75
13,2053878724,2537508914,32971472.0,1980.0,1980-10-01,1.485614e+08,2.0,3.0,-3.50
14,2074130999,2537508914,32971472.0,1980.0,1980-01-01,0.000000e+00,4.0,10.0,3.50
15,2075510068,2537508914,241749.0,1956.0,1956-03-31,1.377736e+08,2.0,8.0,0.00
16,2080450835,2537508914,32971472.0,1976.0,1976-09-01,8.011330e+07,63.0,1197.0,596.00
17,2116588675,2537508914,32971472.0,1975.0,1975-09-01,8.802318e+06,2.0,9.0,0.00
18,2118007443,2537508914,32971472.0,1981.0,1981-09-01,1.485614e+08,7.0,11.0,-20.25
19,2119822514,2537508914,32971472.0,1984.0,1984-01-01,5.969743e+07,1.0,18.0,0.00
20,2588497460,2537508914,32971472.0,1978.0,1978-06-01,2.735378e+09,0.0,1.0,-7.25

In [16]:
author_career.sort_values('Year', inplace=True)

for g in ag:
    print(g)

(1952.0,     PublicationId    AuthorId  AffiliationId    Year        Date    JournalId  \
15     2075510068  2537508914       241749.0  1956.0  1956-03-31  137773608.0

    C10  Ctotal   mc
15  2.0     8.0  0.0  )
(1956.0,     PublicationId    AuthorId  AffiliationId    Year        Date    JournalId  \
12     2044361090  2537508914     32971472.0  1981.0  1981-01-01  148561398.0

     C10  Ctotal     mc
12  16.0    79.0  47.75  )
(1964.0,    PublicationId    AuthorId  AffiliationId    Year        Date    JournalId  \
2     1978291570  2537508914     32971472.0  1964.0  1964-09-01  152009833.0

   C10  Ctotal   mc
2  0.0    28.0  0.0  )
(1965.0,    PublicationId    AuthorId  AffiliationId    Year        Date   JournalId  \
6     2013687468  2537508914     32971472.0  1978.0  1978-07-01  44404461.0

   C10  Ctotal     mc
6  3.0    23.0  14.75  )
(1966.0,    PublicationId    AuthorId  AffiliationId    Year        Date    JournalId  \
7     2018998940  2537508914     32971472.0  1976.0  1976-12-01  119514724.0

   C10  Ctotal     mc
7  1.0     5.0 -596.0  )
(1971.0,    PublicationId    AuthorId  AffiliationId    Year        Date   JournalId  \
3     1990886940  2537508914     32971472.0  1978.0  1978-07-01  80113298.0

   C10  Ctotal    mc
3  5.0     8.0 -0.25  )
(1975.0,    PublicationId    AuthorId  AffiliationId    Year        Date    JournalId  \
4     2004890562  2537508914     32971472.0  1981.0  1981-01-01  148561398.0

    C10  Ctotal    mc
4  11.0    35.0  3.75  )
(1976.0,     PublicationId    AuthorId  AffiliationId    Year        Date   JournalId  \
16     2080450835  2537508914     32971472.0  1976.0  1976-09-01  80113298.0
5      2012653051  2537508914     32971472.0  1981.0  1981-08-01  47246245.0

     C10  Ctotal      mc
16  63.0  1197.0  596.00
5    0.0     0.0  -31.25  )
(1978.0,     PublicationId    AuthorId  AffiliationId    Year        Date  \
10     2028506901  2537508914     32971472.0  1965.0  1965-04-17
17     2116588675  2537508914     32971472.0  1975.0  1975-09-01
20     2588497460  2537508914     32971472.0  1978.0  1978-06-01
0      1967706085  2537508914     32971472.0  1993.0  1993-04-01

       JournalId   C10  Ctotal    mc
10  1.377736e+08   9.0    45.0  0.00
17  8.802318e+06   2.0     9.0  0.00
20  2.735378e+09   0.0     1.0 -7.25
0   9.731383e+06  42.0   136.0  0.00  )
(1980.0,     PublicationId    AuthorId  AffiliationId    Year        Date    JournalId  \
13     2053878724  2537508914     32971472.0  1980.0  1980-10-01  148561398.0
14     2074130999  2537508914     32971472.0  1980.0  1980-01-01          0.0

    C10  Ctotal   mc
13  2.0     3.0 -3.5
14  4.0    10.0  3.5  )
(1981.0,     PublicationId    AuthorId  AffiliationId    Year        Date    JournalId  \
8      2019020697  2537508914     32971472.0  1966.0  1966-11-01   80146597.0
11     2035832708  2537508914     32971472.0  1971.0  1971-06-01    8802318.0
9      2024818691  2537508914     32971472.0  1978.0  1978-12-01   42686363.0
18     2118007443  2537508914     32971472.0  1981.0  1981-09-01  148561398.0

     C10  Ctotal     mc
8   22.0   563.0   0.00
11   0.0     8.0   0.00
9    0.0     1.0  -7.25
18   7.0    11.0 -20.25  )
(1984.0,     PublicationId    AuthorId  AffiliationId    Year        Date   JournalId  \
19     2119822514  2537508914     32971472.0  1984.0  1984-01-01  59697426.0

    C10  Ctotal   mc
19  1.0    18.0  0.0  )
(1993.0,    PublicationId    AuthorId  AffiliationId    Year        Date   JournalId  \
1     1972538590  2537508914       241749.0  1952.0  1952-03-28  70236976.0

   C10  Ctotal   mc
1  1.0     9.0  0.0  )